p
{
    width 70%;
    margin-left: 15%;
    margin-right: 15%;
    border: 3px solid blue;
    padding: 3%;
    direction: rtl;
    font-size: 18px;
}

.mymonster
{
    
    width: 40%;
    height: 20%;
    text-align: center;
}