body
{
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}
#camera
{
    background-color: black;
    width: 100%;
    height: 90%;
}
.PuzzleButton
{
    
    margin-top: 2%;
    height: 21%;
    width: 100%;
    background-color: white;
    border: 0px;
    font-size: 5vh;
}

#puzzle_holder
{
    visibility: hidden;
    display: none;
}
img
{
    display: block;
    width: 100%;
    height: 40%;
}

.selected
{

    /* Netscape */

    -moz-opacity: 0.5;



    /* Safari 1.x */

    -khtml-opacity: 0.5;



    /* Good browsers */

    opacity: 0.5;

}
td
{
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}
.PuzzleTable
{
    
    table-layout: fixed;
    width: 100%;
    height: 10%;
}