body
{
    background-image: url("Images/background.png");
    background-size: cover;
    background-position: center center;
}
#MemoryBody
{
    width: 100%;
    height: 100%;
    
}
#MemoryTable
{
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.MemoryTableTD
{
    width: 14%;
    height: 14%;
}

.MemoryPicture
{
    width: 100%;
    display: block;
}

.flip-container
{
    perspective: 1000px;
    -webkit-perspective: 1000px;
}

.flip-container, .front_card, .back_card
{
    width: 100%;
    height: 100%;
}

.flip-container:active .flipper, .flip-container.active .flipper 
{
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper
{   
    -webkit-transition: -webkit-transform 0.6s;
    transition: 0.6s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
}

.front_card, .back_card
{
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
    position: absolute;
    top: 0;
    left: 0;
}

.front_card
{
    z-index: 2;
    transform: rotateY(0deg);
     -webkit-transform: rotateY(0deg);
}

.back_card
{
    background-color: blue;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
td
{
    text-align: center;
}