body
{
    padding: 0;
    margin: 0;
    background-color: black;
    width: 100%;
    height: 100%;
}
#camera
{
    background-color: black;
    width: 100%;
    height: 90%;
}
.PuzzleButton
{
    
    margin-top: 2%;
    height: 8%;
    width: 100%;
    background-color: white;
    border: 0px;
    font-size: 50px;
}

#puzzle_holder
{
    visibility: hidden;
    display: none;
}
img
{
    
    width: 100%;
    height: 100%;
}

.selected
{

    /* Netscape */

    -moz-opacity: 0.5;



    /* Safari 1.x */

    -khtml-opacity: 0.5;



    /* Good browsers */

    opacity: 0.5;

}

.PuzzleTable
{
    width: 100%;
    height: 90%;
}