body
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 90%;
    direction: rtl;
    text-align: right;
}
.wide_img
{
    background-image: url("../resource/logo.png");
    width: 100%;
    height: 20%;
    background-repeat: no-repeat;
    background-size: contain;
}
.Center_div
{
    width: 100%;
    height: auto;
    text-align: center;
}

#Header_div
{
    margin-top: 1%;
    font-size: 30px;
    font-weight: bold;
}
.Content
{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}
.txt_input
{
    margin-right: 4%;
    width: 20%;
    font-size: 20px;
}
.button_type
{
    color:white;
    background-color: #039BE5;
    text-align: center;
    text-decoration: none;
    display: inline-block;

    margin-top: 2%;
	margin-bottom:5%;
    height: 5%;
    width: 32%;
    font-size: 18px;
    min-height: 18px;
}
#HomeIcon
{
    width: 10%;
    height: 13%;
    position: absolute;
    left: 1%;
    top: 20%;
    background-repeat: no-repeat;
    background-size: contain; 
}
.mini_txt
{
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 20px;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
    direction: ltr;
}
#clockImg
{
	background-image: url("../Resources/clock.png");
    width: 12%;
    height: 15%;
	position: fixed;
	left: 0;
	bottom: 14;
    background-repeat: no-repeat;
    background-size: contain;
}
#clueImg
{
    width: 12%;
    height: 15%;
	position: fixed;
	left: 0;
	bottom: 14;
    background-repeat: no-repeat;
    background-size: contain;
}
#beforeScan
{
    display: none;
}